<section class="section subscribe">
    <h2>Per essere avvisato quando il sito andrà online:</h2>
    <form action="https://9thcircle.us8.list-manage.com/subscribe/post" method="post">
      <input type="hidden" name="u" value="149629cd746a5194df497da8d">
      <input type="hidden" name="id" value="d8eb081635">
      <input type="hidden" name="ht" value="f5b92cb3b4bdcf27ad3cd8ea4260c8225c5df2a4:MTUyOTM1ODI1MC4xMzgx">
      <input type="hidden" name="mc_signupsource" value="hosted">
        <div class="field has-addons">
            <div class="control is-expanded">
                <input type="email" name="MERGE0" id="MERGE0" placeholder="Email" class="input">
            </div>
            <div class="control">
                <input type="submit" value="Iscriviti" class="button is-primary">
            </div>
        </div>
    </form>
    <p>Il tuo indirizzo email non verrà condiviso in nessuna circostanza</p>
</section>
